apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  serviceAccountName: pipeline
  triggers:
    - bindings:
        - ref: {{ ansible_operator_meta.name }}
      template:
        ref: {{ ansible_operator_meta.name }}
