apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: {{ pipeline_name }}-event-listener
  namespace: {{ namespace }}
spec:
  serviceAccountName: pipeline
  triggers:
    - triggerRef: {{ pipeline_name }}
