apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: {{ ansible_operator_meta.name }}-gitlab
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  serviceAccountName: pipeline
  triggers:
    - bindings:
        - ref: {{ ansible_operator_meta.name }}
      template:
        ref: {{ ansible_operator_meta.name }}
      interceptors:
        - gitlab:
            secretRef:
              secretName: foo
              secretKey: key
            eventTypes:
              - Note Hook
        - webhook:
            objectRef:
              kind: Service
              name: {{ ansible_operator_meta.name }}-gitlab-transformer
              apiVersion: v1
              namespace: {{ ansible_operator_meta.namespace }}
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: el-{{ ansible_operator_meta.name }}-gitlab
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  port:
    targetPort: http-listener
  to:
    kind: Service
    name: el-{{ ansible_operator_meta.name }}-gitlab
    weight: 100
  wildcardPolicy: None
---
apiVersion: v1
kind: Service
metadata:
  name: {{ ansible_operator_meta.name }}-gitlab-transformer
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  selector:
    app: {{ ansible_operator_meta.name }}-gitlab-transformer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ansible_operator_meta.name }}-gitlab-transformer
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ ansible_operator_meta.name }}-gitlab-transformer
  template:
    metadata:
      labels:
        app: {{ ansible_operator_meta.name }}-gitlab-transformer
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - name: transformer
          image: quay.io/ahadas/transformer
          ports:
            - containerPort: 8080
---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ ansible_operator_meta.name }}-gitlab-post-pipelinerun
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  steps:
    - name: echo
      image: registry.access.redhat.com/ubi9-minimal@sha256:104cf11d890aeb7dd5728b7d7732e175a0e4018f1bb00d2faebcc8f6bf29bd52
      script: |
        #!/bin/sh
        curl --header "PRIVATE-TOKEN: glpat-VaZ2rTSZg9Cz1vy1iKjm" --request POST --data "body=pipeline" https://gitlab.com/api/v4/projects/60513999/merge_requests/1/notes 
