kind: CronJob
apiVersion: batch/v1
metadata:
  name: {{ ansible_operator_meta.name }}-nightly
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  schedule: '@midnight'
  concurrencyPolicy: Allow
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - resources: {}
              terminationMessagePath: /dev/termination-log
              name: trigger-build
              command:
                - /bin/sh
              env:
              imagePullPolicy: Always
              terminationMessagePolicy: File
              image: 'quay.io/centos/centos:stream9'
              args:
                - '-c'
                - |
                  set -eu

                  curl -s -X POST -H 'Content-Type: application/json' -d '{"archs": {"amd64": "true", "arm64": "true"}}' http://el-{{ ansible_operator_meta.name }}-nightly.{{ ansible_operator_meta.namespace }}.svc:8080
          restartPolicy: Never
          terminationGracePeriodSeconds: 30
          dnsPolicy: ClusterFirst
          securityContext: {}
          schedulerName: default-scheduler
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1

