apiVersion: v1
kind: Secret
metadata:
  name: {{ quay_secret }}
  namespace: {{ namespace }}
  annotations:
    tekton.dev/docker-0: 'https://quay.io'
data:
  .dockerconfigjson: ''
type: kubernetes.io/dockerconfigjson
