---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: buildah-build
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  params:
    - default: .
      name: context-dir
      type: string
    - default: Containerfile
      name: containerfile-path
      type: string
    - default: ''
      name: build-args
      type: string
  steps:
    - computeResources: {}
      env:
        - name: STORAGE_DRIVER
          value: vfs
      image: 'registry.redhat.io/rhel9/buildah:9.4'
      name: build
      script: |
        #!/bin/bash
        set -Eeuo pipefail
        buildah bud $(params.build-args) -t localhost/image:$(uname -m) -f $(workspaces.source-workspace.path)/$(params.containerfile-path) $(workspaces.source-workspace.path)/$(params.context-dir)
        buildah push localhost/image:$(uname -m) oci-archive:/srv/oci-images/$(uname -m).tar
      securityContext:
        capabilities:
          add:
            - SETFCAP
      volumeMounts:
        - mountPath: /var/lib/containers
          name: container-storage
  volumes:
    - emptyDir: {}
      name: container-storage
  workspaces:
    - description: Workspace containing source code
      name: source-workspace
    - mountPath: /srv/oci-images
      name: oci-images
---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: buildah-push
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  params:
    - name: image-name
      type: string
    - name: architectures
      type: array
  steps:
    - args:
        - '$(params.architectures[*])'
      computeResources: {}
      env:
        - name: STORAGE_DRIVER
          value: vfs
      image: 'registry.redhat.io/rhel9/buildah:9.4'
      name: push
      script: |
        #!/bin/bash
        set -Eeuo pipefail

        # Handle registry credentials
        if [[ "$(workspaces.dockerconfig.bound)" == "true" ]]; then
          if test -f "$(workspaces.dockerconfig.path)/config.json"; then
            export DOCKER_CONFIG="$(workspaces.dockerconfig.path)"
          elif test -f "$(workspaces.dockerconfig.path)/.dockerconfigjson"; then
            mkdir -p $HOME/.docker
            cp "$(workspaces.dockerconfig.path)/.dockerconfigjson" "$HOME/.docker/config.json"
            export DOCKER_CONFIG="$HOME/.docker"
          else
            echo "neither 'config.json' nor '.dockerconfigjson' found at workspace root"
            exit 1
          fi
        fi

        declare -a iids=()
        for arch; do
          echo "Loading image for architecture $arch..."
          iid=$(buildah pull oci-archive:/srv/oci-images/$arch.tar)
          iids+=("$iid")
        done
        buildah manifest create localhost/multi-arch-image "${iids[@]}"
        buildah manifest push --all localhost/multi-arch-image docker://$(params.image-name)
      securityContext:
        capabilities:
          add:
            - SETFCAP
      volumeMounts:
        - mountPath: /var/lib/containers
          name: container-storage
  volumes:
    - emptyDir: {}
      name: container-storage
  workspaces:
    - mountPath: /srv/oci-images
      name: oci-images
    - description: An optional workspace that allows providing a .docker/config.json file for Buildah to access the container registry. The file should be placed at the root of the Workspace with name config.json or .dockerconfigjson.
      name: dockerconfig
      optional: true
---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: buildah-push-local
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  params:
    - name: local-image
      type: string
    - name: architectures
      type: array
  steps:
    - args:
        - '$(params.architectures[*])'
      computeResources: {}
      env:
        - name: STORAGE_DRIVER
          value: vfs
      image: 'registry.redhat.io/rhel9/buildah:9.4'
      name: push
      script: |
        #!/bin/bash
        set -Eeuo pipefail

        # Handle registry credentials
        if [[ "$(workspaces.dockerconfig.bound)" == "true" ]]; then
          if test -f "$(workspaces.dockerconfig.path)/config.json"; then
            export DOCKER_CONFIG="$(workspaces.dockerconfig.path)"
          elif test -f "$(workspaces.dockerconfig.path)/.dockerconfigjson"; then
            mkdir -p $HOME/.docker
            cp "$(workspaces.dockerconfig.path)/.dockerconfigjson" "$HOME/.docker/config.json"
            export DOCKER_CONFIG="$HOME/.docker"
          else
            echo "neither 'config.json' nor '.dockerconfigjson' found at workspace root"
            exit 1
          fi
        fi

        declare -a iids=()
        for arch; do
          echo "Loading image for architecture $arch..."
          iid=$(buildah pull oci-archive:/srv/oci-images/$arch.tar)
          iids+=("$iid")
        done
        buildah manifest create localhost/multi-arch-image "${iids[@]}"
        buildah manifest push --all localhost/multi-arch-image docker://$(params.local-image)
      securityContext:
        capabilities:
          add:
            - SETFCAP
      volumeMounts:
        - mountPath: /var/lib/containers
          name: container-storage
  volumes:
    - emptyDir: {}
      name: container-storage
  workspaces:
    - mountPath: /srv/oci-images
      name: oci-images
    - description: An optional workspace that allows providing a .docker/config.json file for Buildah to access the container registry. The file should be placed at the root of the Workspace with name config.json or .dockerconfigjson.
      name: dockerconfig
      optional: true
---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: run-tests
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  description: This task perform the unit test operation
  params:
    - default: 'fedora:40'
      description: |
        The base image for the task.
      name: local-image
      type: string
    - default: 'true'
      description: Log the commands that are executed during the operation.
      name: VERBOSE
      type: string
    - default: ''
      description: The path in source to the tests
      name: PATH
      type: string
    - description: The command to run the tests
      name: COMMAND
      type: string
    - default: ''
      description: The args to the command
      name: ARGS
      type: string
  sidecars:
    - computeResources: {}
      image: $(params.local-image)
      name: hello-sidecar
      volumeMounts:
        - mountPath: $(workspaces.source-workspace.path)
          name: $(workspaces.source-workspace.volume)
  steps:
    - computeResources: {}
      env:
        - name: PARAM_VERBOSE
          value: $(params.VERBOSE)
        - name: PARAM_PATH
          value: $(params.PATH)
        - name: PARAM_COMMAND
          value: $(params.COMMAND)
        - name: PARAM_ARGS
          value: $(params.ARGS)
      image: $(params.local-image)
      name: unit-test
      script: |
        #!/usr/bin/env sh
        set -eu

        if [ "${PARAM_VERBOSE}" = "true" ] ; then
          set -x
        fi

        if ! [ -f "${PARAM_PATH}" ]; then
          echo "${PARAM_PATH} does not exist. Skipping tests"
          exit
        fi

        echo "Running tests"
        #RESULT=$(${PARAM_COMMAND} ${PARAM_PATH} ${PARAM_ARGS})
        #RESULT=$(${PARAM_COMMAND})
        ${PARAM_COMMAND} ${PARAM_PATH} ${PARAM_ARGS}
        EXIT_CODE="$?"
        if [ "${EXIT_CODE}" != 0 ] ; then
          echo "Tests failed."
          exit "${EXIT_CODE}"
        fi
        echo "Tests passed."

        sleep 1
      workingDir: $(workspaces.source-workspace.path)
  workspaces:
    - description: A workspace that contains the fetched git repository.
      name: source-workspace
    - mountPath: /srv/oci-images
      name: oci-images
---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: send-notification
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  params:
    - name: aggregateTasksStatus
      type: string
  steps:
    - computeResources: {}
      env:
        - name: JSONTEMPLATE
          value: '{"api_key": "API_KEY", "to": ["Arik <ahadas@redhat.com>"], "sender": "Arik Hadas <ahadas@redhat.com>", "subject": "Hello Arik", "text_body": "RESULT", "html_body": "<h1>test</h1>"}'
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              key: {{ smtp_api_key }}
              name: {{ smtp_secret }}
      image: 'quay.io/centos/centos:stream9'
      name: send-email
      script: |
        #!/bin/bash
        set -Eeuo pipefail

        if [ $(params.aggregateTasksStatus) == "Failed" ]
        then
          echo "Looks like one or more tasks returned failure"
        fi
        if [ $(params.aggregateTasksStatus) == "Succeeded" ]
        then
          echo "Pipeline succeeded"
        fi

        _jsondata=$(echo -n ${JSONTEMPLATE} | sed -e "s/API_KEY/$API_KEY/" | sed -e "s/RESULT/$(params.aggregateTasksStatus)/")
        curl -X POST -H 'Content-Type: appcation/json'  -d "${_jsondata}"  https://api.smtp2go.com/v3/email/send -v
      securityContext:
        capabilities:
          add:
            - SETFCAP
      volumeMounts: []
  volumes:
    - emptyDir: {}
      name: container-storage
  workspaces: []
