apiVersion: triggers.tekton.dev/v1alpha1
kind: Trigger
metadata:
  name: {{ pipeline_name }}
  namespace: {{ namespace }}
spec:
  serviceAccountName: pipeline
  bindings:
    - ref: {{ pipeline_name }}
  template:
    ref: {{ pipeline_name }}

