apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: {{ pipeline_name }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  params:
  - name: git-url
    description: The git repository url
  - name: git-revision
    description: The git revision
  - name: image-name
    description: The image name
  - name: local-image
    description: The local image name
  - name: context-dir
    description: The path in the repository to use
  - name: containerfile-path
    description: The conatiner file to use
  - name: build-args
    description: Extra build arguments
  - name: storageclass
    description: The storage class to use for workspaces
  - name: test-path
    description: The path to execute the tests on
  - name: test-command
    description: The command to run in order to trigger the tests
  resourcetemplates:
  - apiVersion: tekton.dev/v1
    kind: PipelineRun
    metadata:
      generateName: {{ pipeline_name }}-pipeline-
    spec:
      pipelineRef:
        name: {{ pipeline_name }}
      params:
      - name: git-url
        value: $(tt.params.git-url)
      - name: git-revision
        value: $(tt.params.git-revision)
      - name: image-name
        value: $(tt.params.image-name)
      - name: local-image
        value: $(tt.params.local-image)
      - name: context-dir
        value: $(tt.params.context-dir)
      - name: containerfile-path
        value: $(tt.params.containerfile-path)
      - name: build-args
        value: $(tt.params.build-args)
      - name: test-path
        value: $(tt.params.test-path)
      - name: test-command
        value: $(tt.params.test-command)
      taskRunSpecs:
        - pipelineTaskName: build-x86-64
          podTemplate:
            nodeSelector:
              kubernetes.io/arch: amd64
        - pipelineTaskName: build-aarch64
          podTemplate:
            nodeSelector:
              kubernetes.io/arch: arm64
{% if tests %}
        - pipelineTaskName: run-tests-x86-64
          podTemplate:
            nodeSelector:
              kubernetes.io/arch: amd64
        - pipelineTaskName: run-tests-aarch64
          podTemplate:
            nodeSelector:
              kubernetes.io/arch: arm64
{% endif %}
      workspaces:
        - name: source-workspace
          volumeClaimTemplate:
            metadata:
              creationTimestamp: null
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 1Gi
              storageClassName: $(tt.params.storageclass)
              volumeMode: Filesystem
            status: {}
        - name: oci-images
          volumeClaimTemplate:
            metadata:
              creationTimestamp: null
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 1Gi
              storageClassName: $(tt.params.storageclass)
              volumeMode: Filesystem
            status: {}
        - name: registry-token
          secret:
            secretName: {{ quay_secret }}
