apiVersion: triggers.tekton.dev/v1alpha1
kind: Trigger
metadata:
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  serviceAccountName: pipeline
  bindings:
    - ref: {{ ansible_operator_meta.name }}
  template:
    ref: {{ ansible_operator_meta.name }}

