apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  params:
  - name: arm64
    value: $(body.archs.arm64)
  - name: amd64
    value: $(body.archs.amd64)
  - name: git-url
    value: {{ git_url }}
  - name: git-revision
    value: $(body.git_revision)
  - name: image-name
    value: {{ image_name }}
  - name: local-image
    value: {{ local_image }}
{% if context_dir is defined %}
  - name: context-dir
    value: {{ context_dir }}
{% endif %}
{% if containerfile is defined %}
  - name: containerfile-path
    value: {{ containerfile }}
{% endif %}
{% if build_args is defined %}
  - name: build-args
    value: {{ build_args }}
{% endif %}
  - name: test-path
    value: {{ test_path }}
  - name: test-command
    value: {{ test_command }}
