apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: ci-event-listener
  namespace: autosd-ci-operator-system
spec:
  serviceAccountName: pipeline
  triggers:
    - triggerRef: ci-trigger
