kind: CronJob
apiVersion: batch/v1
metadata:
  name: send-email
  namespace: autosd-ci-operator-system
spec:
  schedule: '@midnight'
  concurrencyPolicy: Allow
  suspend: false
  jobTemplate:
    metadata:
      creationTimestamp: null
    spec:
      template:
        metadata:
          creationTimestamp: null
        spec:
          containers:
            - resources: {}
              terminationMessagePath: /dev/termination-log
              name: polling-triggers
              command:
                - /bin/sh
              env:
                - name: JSONTEMPLATE
                  value: '{"api_key": "API_KEY", "to": ["Arik <ahadas@redhat.com>"], "sender": "Arik Hadas <ahadas@redhat.com>", "subject": "Hello Arik", "text_body": "test", "html_body": "<h1>test</h1>"}'
                - name: API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: smtp-secret
                      key: api.key
              imagePullPolicy: Always
              terminationMessagePolicy: File
              image: 'quay.io/centos/centos:stream9'
              args:
                - '-c'
                - |
                  set -eu

                  _jsondata=$(echo -n ${JSONTEMPLATE} | sed -e "s/API_KEY/$API_KEY/")
                  curl -X POST -H 'Content-Type: appcation/json'  -d "${_jsondata}"  https://api.smtp2go.com/v3/email/send -v
          restartPolicy: Never
          terminationGracePeriodSeconds: 30
          dnsPolicy: ClusterFirst
          securityContext: {}
          schedulerName: default-scheduler
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1

