apiVersion: tekton.dev/v1
kind: Pipeline
metadata:
  name: ci
  namespace: autosd-ci-operator-system
spec:
  finally:
    - name: send-notification
      params:
        - name: aggregateTasksStatus
          value: $(tasks.status)
      taskRef:
        kind: Task
        name: send-notification
  params:
    - name: git-url
      type: string
    - default: main
      name: git-revision
      type: string
    - name: image-name
      type: string
    - default: .
      name: context-dir
      type: string
    - default: Containerfile
      name: containerfile-path
      type: string
    - name: local-image
      type: string
  tasks:
    - name: clone-repo
      params:
        - name: url
          value: $(params.git-url)
        - name: revision
          value: $(params.git-revision)
      taskRef:
        kind: ClusterTask
        name: git-clone
      workspaces:
        - name: output
          workspace: source-workspace
    - name: build-x86-64
      params:
        - name: context-dir
          value: $(params.context-dir)
        - name: containerfile-path
          value: $(params.containerfile-path)
      runAfter:
        - clone-repo
      taskRef:
        kind: Task
        name: buildah-build
      workspaces:
        - name: source-workspace
          workspace: source-workspace
        - name: oci-images
          workspace: oci-images
    - name: build-aarch64
      params:
        - name: context-dir
          value: $(params.context-dir)
        - name: containerfile-path
          value: $(params.containerfile-path)
      runAfter:
        - clone-repo
      taskRef:
        kind: Task
        name: buildah-build
      workspaces:
        - name: source-workspace
          workspace: source-workspace
        - name: oci-images
          workspace: oci-images
    - name: push-image
      params:
        - name: image-name
          value: $(params.image-name)
        - name: architectures
          value:
            - x86_64
            - aarch64
      runAfter:
        - run-tests-x86-64
        - run-tests-aarch64
      taskRef:
        kind: Task
        name: buildah-push
      workspaces:
        - name: oci-images
          workspace: oci-images
        - name: dockerconfig
          workspace: registry-token
    - name: run-tests-x86-64
      params:
        - name: BASE_IMAGE
          value: $(params.image-name)
        - name: VERBOSE
          value: 'true'
        - name: PATH
          value: $(workspaces.source-workspace.path)/test
        - name: COMMAND
          value: bash
        - name: local-image
          value: $(params.local-image)
      runAfter:
        - buildah-push-local
      taskRef:
        kind: Task
        name: run-tests
      workspaces:
        - name: source-workspace
          workspace: source-workspace
        - name: oci-images
          workspace: oci-images
    - name: run-tests-aarch64
      params:
        - name: BASE_IMAGE
          value: $(params.image-name)
        - name: VERBOSE
          value: 'true'
        - name: PATH
          value: $(workspaces.source-workspace.path)/test
        - name: COMMAND
          value: bash
        - name: local-image
          value: $(params.local-image)
      runAfter:
        - buildah-push-local
      taskRef:
        kind: Task
        name: run-tests
      workspaces:
        - name: source-workspace
          workspace: source-workspace
        - name: oci-images
          workspace: oci-images
    - name: buildah-push-local
      params:
        - name: local-image
          value: $(params.local-image)
        - name: architectures
          value:
            - x86_64
            - aarch64
      runAfter:
        - build-x86-64
        - build-aarch64
      taskRef:
        kind: Task
        name: buildah-push-local
      workspaces:
        - name: oci-images
          workspace: oci-images
        - name: dockerconfig
          workspace: registry-token
  workspaces:
    - name: source-workspace
    - name: oci-images
    - name: registry-token
