apiVersion: triggers.tekton.dev/v1alpha1
kind: Trigger
metadata:
  name: ci
  namespace: autosd-ci-operator-system
spec:
  serviceAccountName: pipeline
  bindings:
    - ref: ci
  template:
    ref: ci

