apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: ci
  namespace: autosd-ci-operator-system
spec:
  params:
  - name: git-url
    value: {{ git_url }}
  - name: git-revision
    value: {{ git_revision }}
  - name: image-name
    value: {{ image_name }}
  - name: local-image
    value: {{ local_image }}
  - name: context-dir
    value: {{ context_dir }}
  - name: containerfile-path
    value: {{ containerfile }}
  - name: storageclass
    value: {{ storageclass }}
